<div class="login-container">
  <div class="login-card">
    <form class="form">
      <div class="input-container">
        <label for="username">Usuario</label>
        <input type="text" name="username" id="username" autocomplete="username"/>
      </div>
      <div class="input-container">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" autocomplete="current-password"/>
      </div>

      <div class="button-container">
        <button type="submit" class="button primary">Login</button>
        <button type="button" class="button">Cancel</button>
      </div>
    </form>
  </div>
</div>